# Fall 2024 Data Science Track: Week 2 - Data Cleaning Exercise

## Packages, Packages, Packages!

Import *all* the things here! You need the standard stuff: `pandas` and `numpy`.

If you got more stuff you want to use, add them here too. ðŸ™‚

In [1]:
# Import here
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

## Introduction

With the packages out of the way, now you will be working with the following data sets:

* `food_coded.csv`: [Food choices](https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv) from Kaggle
* `Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv`: [Ask A Manager Salary Survey 2021 (Responses)](https://docs.google.com/spreadsheets/d/1IPS5dBSGtwYVbjsfbaMCYIWnOuRmJcbequohNxCyGVw/view?&gid=1625408792) as *Tab Separated Values (.tsv)* from Google Docs

Each one poses different challenges. But youâ€™llâ€•of courseâ€•overcome them with what you learned in class! ðŸ˜‰

## Food Choices Data Set

### Load the Data

In [5]:
# Load the Food choices data set into a variable (e.g., df_food).

food_data_path = 'data/food_coded.csv'

df_food = pd.read_csv(food_data_path)
df_food.head()

NameError: name 'pd' is not defined

### Explore the Data

How much data did you just load?

In [ ]:
# Count by hand. (lol kidding)
df_food.shape

What are the columns and their types in this data set?

In [ ]:
# Show the column names and their types.
df_food.dtypes

### Clean the Data

Perhaps weâ€™d like to know more another day, but the team is really interested in just the relationship between calories (`calories_day`) and weight. â€¦and maybe gender.

Can you remove the other columns?

In [ ]:
# Remove â€˜em.
food_filtered = df_food.filter(items = [ 'calories_day', 'weight', 'gender'])

What about `NaN`s? How many are there?

In [ ]:
# Count â€˜em.
food_filtered.isnull().sum()

We gotta remove those `NaN`sâ€•the entire row.

In [ ]:
# Drop â€˜em.
food_filtered = food_filtered.dropna()

But what about the weird non-numeric values in the column obviously meant for numeric data?

Notice the data type of that column from when you got the types of all the columns?

If only we could convert the column to a numeric type and drop the rows with invalid values. ðŸ¤”

In [ ]:
# Fix that.
food_filtered['weight'] = pd.to_numeric(food_filtered['weight'], errors='coerce')
food_filtered = food_filtered.dropna(subset=['weight'])

Now this data seems reasonably clean for our purposes! ðŸ˜

Letâ€™s save it somewhere to be shipped off to another teammate. ðŸ’¾

In [ ]:
# Savey save!
food_filtered.to_csv('myData.csv', index=False)

## Ask a Manager Salary Survey 2021 (Responses) Data Set

### Load the Data

In [6]:
# Load the Ask A Manager Salary Survey 2021 (Responses) data set into a variable (e.g., df_salary).
salary_data = pd.read_csv('data/Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv',sep='\t')
salary_data.head()

NameError: name 'pd' is not defined

Was that hard? ðŸ™ƒ

#### rename the file to something that is better for all systems.  
* No spaces in filename (can use '_')
* all lower case

### Explore

You know the drill.

How much data did you just load?

In [ ]:
# Count by hand. Iâ€™m dead serious.
salary_data.shape

What are the columns and their types?

In [ ]:
# Show the column names and their types.
salary_data.info()

Ohâ€¦ Ugh! Give these columns easier names to work with first. ðŸ™„

In [ ]:
# Rename â€˜em.
# Non-binding suggestions: timestamp, age, industry, title, title_context, salary, additional_compensation, currency, other_currency, salary_context, country, state, city, total_yoe, field_yoe, highest_education_completed	gender, race
salary_data.columns = [
    'timestamp',
    'age',
    'industry',
    'title',
    'title_context',
    'salary',
    'additional_compensation',
    'currency',
    'other_currency',
    'salary_context',
    'country',
    'state',
    'city',
    'total_yoe',
    'field_yoe',
    'highest_education_completed',
    'gender',
    'race'
]
salary_data.dtypes

Itâ€™s a lot, and that should not have been easy. ðŸ˜

Youâ€™re going to have a gander at the computing/tech subset first because thats *your* industry. But first, what value corresponds to that `industry`?

In [ ]:
# List the unique industries and a count of their instances.
industry = salary_data['industry'] == 'Computing or Tech'
salary_data[industry].count()

That value among the top 5 is what youâ€™re looking for innit? Filter out all the rows not in that industry and save it into a new dataframe.

In [ ]:
# Filtery filter. (Save it to a new variable, df_salary_tech.)
filter = salary_data['industry'].count.head(5).index
tech_salary = salary_data[salary_data['industry'].isin(filter)]

Do a sanity check to make sure that the only values you kept are the one you are filtered for.

In [ ]:
# Sanity Check //>>
tech_salary.head(20)

We are very interested in salary figures. But how many dollars ðŸ’µ is a euro ðŸ’¶ or a pound ðŸ’·? That sounds like a problem for another day. ðŸ« 

For now, letâ€™s just look at U.S. dollars (`'USD'`).

In [ ]:
# Filtery filter for just the jobs that pay in USD!
usd_data = tech_salary[tech_salary['currency']=='USD']
usd_data.head()

What we really want know is how each U.S. city pays in tech. What value in `country` represents the United States of America?

In [ ]:
# We did filter for USD, so if we do a count of each unique country in descending count order, the relevant value(s) should show up at the top.
usd_data['country'].value_counts()

### Clean the Data

Well, we canâ€™t get our answers with what we currently have, so youâ€™ll have to make some changes.

Letâ€™s not worry about anything below the first 5 values for now. Convert the top 5 to a single canonical valueâ€•say, `'US'`, which is nice and short.

In [ ]:
# Replace them all with 'US'.
top_5_countries = usd_data['country'].value_counts().head(5).index
usd_data.loc[top_5_countries,'country'] = 'US'

Have a look at the count of each unique country again now.

In [ ]:
# Count again.
usd_data['country'].value_counts()

Did you notice anything interesting?

In [ ]:
# BONUS CREDIT: resolve [most of] those anomalous cases too without exhaustively taking every variant literally into account.

In [ ]:

# BONUS CREDIT: if youâ€™ve resolved it, letâ€™s see how well you did by counting the number of instances of each unique value.

Itâ€™s looking good so far. Letâ€™s find out the minimum, mean, and maximum (in that order) salary by state, sorted by the mean in descending order.

In [ ]:
# Find the minimum, mean, and maximum salary in USD by U.S. state.

Well, pooh! We forgot that `salary` isnâ€™t numeric. Something wrong must be fixed.

In [ ]:
# Fix it.

Letâ€™s try that again.

In [ ]:
# Try it again. Yeah!

That did the trick! Now letâ€™s narrow this to data 2021 and 2022 just because (lel). *(Hint: that timestamp column may not be a temporal type right now.)*

In [ ]:
# Filter the data to within 2021, 2022, or 2023, saving the DataFrame to a new variable, and generate the summary again.

## Bonus

Clearly, we do not have enough data to produce useful figures for the level of specificity youâ€™ve now reached. What do you notice about Delaware and West Virginia?

Letâ€™s back out a bit and return to `df_salary` (which was the loaded data with renamed columns but *sans* filtering).

### Bonus #0

Apply the same steps as before to `df_salary`, but do not filter for any specific industry. Do perform the other data cleaning stuff, and get to a point where you can generate the minimum, mean, and maximum by state.

### Bonus #1

This time, format the table output nicely (*$12,345.00*) without modifying the values in the `DataFrame`. That is, `df_salary` should be identical before versus after running your code.

(*Hint: if you run into an error about `jinja2` perhaps you need to `pip install` something.*)

### Bonus #2

Filter out the non-single-states (e.g., `'California, Colorado'`) in the most elegant way possible (i.e., *not* by blacklisting all the bad values).

### Bonus #3

Show the quantiles instead of just minimum, mean, and maximumâ€•say 0%, 5%, 25%, 50%, 75%, 95%, and 100%. Outliers may be deceiving.

Sort by whatever interests youâ€•like say the *50th* percentile.

And throw in a count by state too. It would be interesting to know how many data points contribute to the figures for each state. (*Hint: your nice formatting from Bonus #1 might not work this time around.* ðŸ˜œ)